
.color_background {
    background-color: #E1ECFD;

}
.color_topbar {
    background-color: #1154c7;
}

.color_topbar_text {
    color: #4507ef;
}

.color_button {
    background-color: #0d57d8;
}

.fontSize_1 {
    font-size: 1rem;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}